      /* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap'); */
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");



      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
      }

      :root {
        --header-height: 3.5rem;
        --first-color: hsl(28, 88%, 62%);
        --title-color: hsl(0, 0%, 95%);
        --text-color: hsl(0, 0%, 75%);
        --body-color: hsl(0, 0%, 6%);
        --body-font: "Montserrat", sans-serif;
        --second-font: "Dancing Script", cursive;
        --h2-font-size: 1.25rem;
        --small-font-size: 0.813rem;
        --font-semi-bold: 600;
        --z-tooltip: 10;
        --z-fixed: 100;
      }

      body {
        background-color: var(--body-color);
        color: var(--text-color);
        font-family: var(--body-font);
      }

      ul {
        list-style: none;
      }

      a {
        text-decoration: none;
      }

      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      .solid-line {
        width: 27%;
        margin-top: 5%;
        margin-bottom: 10%;
      }

      .black {
        border-top: 3px solid #000;
      }

      .white {
        border-top: 3px solid #fff;
      }

      .vertical {
        border-left: 3px solid black;
        height: 60px;
      }

      h4 {
        color: gold;
      }

      .smooth {
        transition: all 0.3 ease;
      }